.title{
    color: #004bad;
    text-align: center;
    font-size: 100px;
}

.Blue{
    color:#004bad;
    text-align: left;
}

.container {
    display: flex;
  }

.container.space-around {
    justify-content: space-around;
}

.container.space-between{
    justify-content: space-between;
}

@font-face {
    font-family: nowBold;
    src: url(Now-Bold.ttf.woff);
 }
 
 * {
    font-family: nowBold;
 }

 a{
    color:#004bad;
    font-size: 30px;
 }
 a:hover{
    color:lightcoral;
 }

img{
    position:absolute;
    top: 500px;
    left: 630px;
}

p{
    position:absolute;
    text-align: center;
    top: 760px;
    font-size: 20px;
}
.about{
    position:absolute;
    top: 700px; 
    left: 160px;
}
.do{
    position: absolute; 
    top: 700px; 
    right: 310px;
}